{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
{% set render_ctx = h.resolve_ctx() %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} - {{ admin_view.admin.name }}{% endblock %}</title>
    {% block head_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
      <link href="{{ admin_static.url(filename='dashgum/assets/css/bootstrap.css') }}" rel="stylesheet">
      <!--external css-->
      <link href="{{ admin_static.url(filename='dashgum/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

      <link href="{{ admin_static.url(filename='dashgum/assets/css/style.css') }}" rel="stylesheet">
      <link href="{{ admin_static.url(filename='dashgum/assets/css/style-responsive.css') }}" rel="stylesheet">

      <link href="{{ admin_static.url(filename='vendor/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{{ admin_static.url(filename='admin/css/dashgum/admin.css') }}" rel="stylesheet">
    {% endblock %}
    {% block head %}
    {% endblock %}
    {% block head_tail %}
    {% endblock %}
  </head>
  <body>
    {% block page_body %}
    {% block top_bar %}
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>

      <!--logo start-->
      <a href="#" class="logo"><b>{{ admin_view.admin.name }}</b></a>
      <!--logo end-->

      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
        </ul>
      </div>

      <div class="top-menu">
        {% block access_control %}
        {% endblock access_control %}
      </div>

    </header>
    {% endblock top_bar %}
    <aside>
      <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">
          {{ layout.menu2() }}
        </ul>
      </div>
    </aside>
    <section id="main-content">
      <section class="wrapper site-min-height">
        {% block pagetitle %}
          <h3><i class="fa fa-angle-right"></i> {{ page_title_pre|default('') }} {{ page_title|default(admin_view.name) }}</h3>
          {% if page_subtitle|default('') %}
            <p>{{page_subtitle}}</p>
          {% endif %}
        {% endblock %}
	{% block messages %}
	{{ layout.messages() }}
	{% endblock %}

        {% block body %}{% endblock %}
      </section>
    </section>

    <footer class="site-footer">
      {% block site_footer %}{%endblock%}
    </footer>

{#
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  {% block brand %}
	  <a class="navbar-brand" href="#">{{ admin_view.admin.name }}</a>
	  {% endblock %}
	</div>
	<!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">
          {% block main_menu %}
          <ul class="nav navbar-nav">
            {{ layout.menu() }}
          </ul>
          {% endblock %}

          {% block menu_links %}
          <ul class="nav navbar-right">
            {{ layout.menu_links() }}
          </ul>
          {% endblock %}
          {% block access_control %}
          {% endblock %}
        </div>
      </nav>

    </div>

#}

    {% endblock %}

    {% block tail_js %}
    <script src="{{ admin_static.url(filename='dashgum/assets/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='dashgum/assets/js/bootstrap.min.js') }}" type="text/javascript"></script>

    <script src="{{ admin_static.url(filename='dashgum/assets/js/jquery-ui-1.9.2.custom.min.js') }}"></script>
    <script src="{{ admin_static.url(filename='dashgum/assets/js/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ admin_static.url(filename='dashgum/assets/js/jquery.dcjqaccordion.2.7.js') }}" class="include" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='dashgum/assets/js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ admin_static.url(filename='dashgum/assets/js/jquery.nicescroll.js') }}" type="text/javascript"></script>

    <script src="{{ admin_static.url(filename='vendor/moment-2.8.4.min.js') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/select2/select2.min.js') }}" type="text/javascript"></script>

    <script src="{{ admin_static.url(filename='dashgum/assets/js/common-scripts.js') }}" type="text/javascript"></script>

    <script src="{{ admin_static.url(filename='vendor/bootstrap-select/js/bootstrap-select.js') }}" type="text/javascript"></script>

    {% endblock %}

    {% block tail %}
    {% endblock %}
  </body>
</html>
