{% macro menu_icon(item) -%}
{% set icon_type = item.get_icon_type() %}
{%- if icon_type %}
  {% set icon_value = item.get_icon_value() %}
  {% if icon_type == 'glyph' %}
    <i class="glyphicon {{ icon_value }}"></i>
  {% elif icon_type == 'image' %}
    <img src="{{ url_for('static', filename=icon_value) }}" alt="menu image"></img>
  {% elif icon_type == 'image-url' %}
    <img src="item.icon_value" alt="menu image"></img>
  {% endif %}
{% endif %}
{%- endmacro %}

{% macro menu2() %}
  {%- for item in admin_view.admin.menu() %}
    {%- if item.is_accessible() and item.is_visible() %}
      {%- set class_name = item.get_class_name() %}
        <li{% if class_name %} class="{{class_name}}"{% endif %}>
          <a{%- if item.is_active(admin_view) %} class="active"{% endif %} href="{{ item.get_url() }}">{{ item.name }}</a>
        </li>
    {%- endif %}
  {%- endfor %}
{% endmacro %}

{% macro menu() %}
  {% for item in admin_view.admin.menu() %}
    {% if item.is_category() %}
      {% set children = item.get_children() %}
      {%- if children %}
        {% set class_name = item.get_class_name() %}
        {%- if item.is_active(admin_view) %}
        <li class="active dropdown{% if class_name %} {{class_name}}{% endif %}">
        {% else -%}
        <li class="dropdown{% if class_name %} {{class_name}}{% endif %}">
        {% endif %}
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">{{ menu_icon(item) }}{{ item.name }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
          {%- for child in children -%}
            {% set class_name = child.get_class_name() %}
            {%- if child.is_active(admin_view) %}
            <li class="active{% if class_name %} {{class_name}}{% endif %}">
            {% else %}
            <li{% if class_name %} class="{{class_name}}"{% endif %}>
            {%- endif %}
              <a href="{{ child.get_url() }}">{{ menu_icon(child) }}{{ child.name }}</a>
            </li>
          {%- endfor %}
          </ul>
        </li>
      {% endif %}
    {%- else %}
      {%- if item.is_accessible() and item.is_visible() %}
        {% set class_name = item.get_class_name() %}
        {% if item.is_active(admin_view) %}
        <li class="active"{% if class_name %} {{class_name}}{% endif %}>
        {% else %}
        <li{% if class_name %} class="{{class_name}}"{% endif %}>
        {% endif %}
          <a href="{{ item.get_url() }}">{{ menu_icon(item) }}{{ item.name }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro menu_links() %}
  {% for item in admin_view.admin.menu_links() %}
    {% if item.is_accessible() and item.is_visible() %}
      <li>
        <a href="{{ item.get_url() }}">{{ menu_icon(item) }}{{ item.name }}</a>
      </li>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro messages() %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, m in messages %}
        {% if category %}
        {% set mapping = {'message': 'info', 'error': 'danger'} %}
        <div class="alert alert-{{ mapping.get(category, 'warning') }} alert-dismissable">
        {% else %}
        <div class="alert alert-dismissable">
        {% endif %}
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ m }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}
