{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% import 'admin/static.html' as admin_static with context%}
{% import 'admin/model/layout.html' as model_layout with context %}
{% import 'admin/actions.html' as actionlib with context %}

{% block head %}
    {{ super() }}
    {{ lib.form_css() }}
{% endblock %}

{% block body %}
  <div class="col-md-12 mt">
  <div class="content-panel">
    {% block model_menu_bar %}
    <ul class="nav nav-tabs actions-nav">
        <li class="active">
            <a href="javascript:void(0)">{{ _gettext('List') }} ({{ count }})</a>
        </li>
        {% if admin_view.can_create %}
        <li>
            <a href="{{ url_for('.create_view', url=return_url) }}" title="{{ _gettext('Create new record') }}">{{ _gettext('Create') }}</a>
        </li>
        {% endif %}

        {% if filters %}
        <li class="dropdown">
            {{ model_layout.filter_options() }}
        </li>
        {% endif %}

        {% if actions %}
        <li class="dropdown">
            {{ actionlib.dropdown(actions) }}
        </li>
        {% endif %}

        {% if search_supported %}
        <li>
            {{ model_layout.search_form() }}
        </li>
        {% endif %}
    </ul>
    {% endblock %}

    {% if filters %}
        {{ model_layout.filter_form() }}
        <div class="clearfix"></div>
    {% endif %}

    {% block model_list_table %}
    <div class="table-responsive">
      <table class="table table-striped table-advance table-hover model-list">
          <thead>
              <tr>
                  {% block list_header scoped %}
                      {% if actions %}
                      <th class="list-checkbox-column">
                          <input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="{{ _gettext('Select all records') }}" />
                      </th>
                      {% endif %}
                      {% set column = 0 %}
                      {% for c, name in list_columns %}
                      <th class="column-header">
                          {% if admin_view.is_sortable(c) %}
                              {% if sort_column == column %}
                                  <a href="{{ sort_url(column, True) }}" title="{{ _gettext('Sort by %(name)s', name=name) }}">
                                      {{ name }}
                                      {% if sort_desc %}
                                          <span class="glyphicon glyphicon-chevron-up"></span>
                                      {% else %}
                                          <span class="glyphicon glyphicon-chevron-down"></span>
                                      {% endif %}
                                  </a>
                              {% else %}
                                  <a href="{{ sort_url(column) }}" title="{{ _gettext('Sort by %(name)s', name=name) }}">{{ name }}</a>
                              {% endif %}
                          {% else %}
                              {{ name }}
                          {% endif %}
                          {% if admin_view.column_descriptions.get(c) %}
                              <a class="glyphicon glyphicon-question-sign"
                                 title="{{ admin_view.column_descriptions[c] }}"
                                 href="javascript:void(0)" data-role="tooltip"
                              ></a>
                          {% endif %}
                      </th>
                      {% set column = column + 1 %}
                      {% endfor %}
                      {% block list_row_actions_header %}
                      <th class="col-md-1">Actions</th>
                      {% endblock %}
                  {% endblock %}
              </tr>
          </thead>
          {% for row in data %}
          <tr>
              {% block list_row scoped %}
                  {% if actions %}
                  <td>
                      <input type="checkbox" name="rowid" class="action-checkbox" value="{{ get_pk_value(row) }}" title="{{ _gettext('Select record') }}" />
                  </td>
                  {% endif %}
                  {% for c, name in list_columns %}
                    {% block list_row_input scoped %}
                        <td>{{ get_value(row, c)|safe }}</td>
                    {% endblock %} 
                  {% endfor %}
                  {% block list_row_actions_column scoped %}
                  <td>
                      {% block list_row_actions scoped %}
                          {%- if admin_view.can_edit -%}
                          <a class="btn btn-primary btn-xs" href="{{ url_for('.edit_view', id=get_pk_value(row), url=return_url) }}" title="{{ _gettext('Edit record') }}">
                              <i class="fa fa-pencil"><span class="hide">Edit</span></i>
                          </a>
                          {%- endif -%}
                          {%- if admin_view.can_delete -%}&nbsp;
                          <form class="icon" method="POST" action="{{ get_url('.delete_view') }}" style="display: inline">
                              {{ delete_form.id(value=get_pk_value(row)) }}
                              {{ delete_form.url(value=return_url) }}
                              {{ delete_form.csrf_token }}
                              <button class="btn btn-danger btn-xs" onclick="return confirm('{{ _gettext('Are you sure you want to delete this record?') }}');" title="Delete record">
                                  <i class="fa fa-trash-o"><span class="hide">Delete</span></i>
                              </button>
                          </form>
  <!--                        <a class="btn btn-danger btn-xs" href="{{ url_for('.delete_view', id=get_pk_value(row), url=return_url) }}"
                            title="{{ _gettext('Delete record') }}" onclick="return confirm('{{ _gettext('You sure you want to delete this item?') }}')">
                          </a>-->
                          {%- endif -%}
                      {% endblock %}
                  </td>
                  {% endblock %}
              {% endblock %}
          </tr>
          {% else %}
          <tr>
              <td colspan="999">
                  {% block empty_list_message %}
                  <div class="text-center">
                      {{ admin_view.get_empty_list_message() }}
                  </div>
                  {% endblock %}
              </td>
          </tr>
          {% endfor %}
      </table>
      {{ lib.pager(page, num_pages, pager_url) }}
    </div>
    {% endblock %}

    {{ actionlib.form(actions, url_for('.action_view')) }}
  </div>
  </div>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="{{ admin_static.url(filename='admin/js/filters-1.0.0.js') }}"></script>
    {{ lib.form_js() }}

    {{ actionlib.script(_gettext('Please select at least one model.'),
                      actions,
                      actions_confirmation) }}

    <script language="javascript">
        (function($) {
            $('[data-role=tooltip]').tooltip({
                html: true,
                placement: 'bottom'
            });
            {% if filter_groups %}
                var filter = new AdminFilters(
                    '#filter_form', '.field-filters',
                    {{ filter_groups|tojson|safe }},
                    {{ active_filters|tojson|safe }}
                );
            {% endif %}
        })(jQuery);
    </script>
{% endblock %}
