/* Global styles */

/* Form customizations */
.content-panel > .nav-tabs {
  padding-left: 10px;
}
/* Model search form */
form.navbar-form {
    margin: 1px 0 0 0;
}

form.navbar-form a.clear span {
    margin-top: 8px;
    margin-left: -20px;
}

form.navbar-form div.input-append {
    display: inline-flex;
}

form.search-form div input {
    margin: 0;
}



/* Filters */
#filter_form {
  margin: 10px 10px 0;
}
table.filters {
    border-collapse: collapse;
    border-spacing: 4px;
}

table.filters tr td {
    padding-right: 10px;
    padding-bottom: 10px;
}

table.flters tr td:nth-child(2){
    width: 60%;
}

.filters input, .filters div.select2-container {
    margin-bottom: 0px;
}

.filters div.select2-container {
    width: 100% !important;
}

.filters a.remove-filter {
    margin-bottom: 0;
    display: block;
    text-align: left;
    text-decoration: none;
}

.filters .remove-filter
{
    vertical-align: middle;
}

.filters .remove-filter .close-icon
{
    font-size: 16px;
}

.filters .remove-filter .close-icon:hover
{
    color: black;
    opacity: 0.4;
}

.filters .filter-op > a {
    height: 28px;
    line-height: 28px;
}

/* Inline forms */
.inline-field {
    margin-bottom: 5px;
}

.inline-field-control {
    float: right;
}

.inline-field .inline-form {
    border-left: 1px solid #eeeeee;
    padding-left: 8px;
    margin-bottom: 4px;
}

.inline-field-control .glyphicon-remove {
    margin-left: -30px;
}

.panel {
    padding-top: 25px;
    padding-left: 30px;
}

/* Image thumbnails */
.image-thumbnail img {
    max-width: 100px;
    max-height: 100px;
}

/* Forms */
.form-horizontal {
    margin-top: 35px;
}

.submit-row {
    margin-top: 5px;
}

input[type=checkbox].form-control {
  width: auto;
}

/* Patch Select2 */
.select2-results li {
    min-height: 24px !important;
}

.select2-container.form-control {
    height: auto !important;
    padding: 0px;
    border-width: 0px;
}

form .select2-choice {
    height: 30px !important;
}

.select2-search-choice {
    height: 24px !important;
    margin-top: 4px !important;
}

/* link style */
a.btn-link {
    border-radius: 4px;
    border-color: #95bee2;
}

a.btn-filter, a.btn-filter:hover {
    border-radius: 4px;
    border-color: #adadad;
    color: #333;
    background-color: #ebebeb;
    max-height: 32px;
    line-height: 16px;
}

.help-block {
    margin-bottom: 0px;
}

ul.has-error {
    margin-bottom: -8px;
}

.tooltip.top {
    font-size: 1.1em;
    top: -35px;
}

.ui-tooltip-content {
    position: absolute;
    left: 40%;
    right: 40%;
    top: 100%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6c2;
    background-color: #d6d6c2;
    color: black;
    text-align: center;
}

.checkbox input[type="checkbox"] {
    margin-left: 0px;
    margin-right: 15px;
}

.list-checkbox-column {
    width: 14px;
}

.form-horizontal .form-group {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.form-horizontal .form-group:hover {
  background-color: #f8f8ed;
}

.iab-logout {
  margin-top: 15px;
  margin-right: 15px;
}

.label a:link {
  color: white;
}
.label a:hover {
  text-decoration: underline;
}

.table-responsive {
  overflow-x: auto;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #5bc0de;
}

::-webkit-scrollbar {
    width:9px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
}
